.footer {
    clear: both;
    position: relative;
    margin-top: -4em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 4em;
    background: #22333B;
    color: #ffffff;
}